<footer class="py-4 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-2 order-md-1 text-center text-md-left">
                <p class="mb-md-0">&copy; <%= Time.now.year %> Bitcoin Exchange Ltd. All rights reserved.
                </p>
            </div>
            <div class="col-md-5 order-1 order-md-2 text-center text-md-right">
                <p class="mb-0">
                    Powered by <a href="https://www.coindesk.com/price/bitcoin" class="text-white"><span class="coin-desk font-weight-bold">CoinDesk</span></a>
                </p>
            </div>
        </div>
    </div>
</footer>